* {
	margin: 0px;
	padding: 0px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
	display: flex;
	align-items: center;

	background-color: #3F51B5;
	box-shadow: 0 0px 15px rgba(black, 0.5);
	min-height: 60px;
	padding: 0px 10px;

	&__title {
		font-size: 22px;
		color: white;
	}
}

.form {
	min-height: 50px;
	padding: 10px;
	border-bottom: 1px solid #e6e6e6;
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&__title {
		width: 100%;
		display: inline-block;
		margin-bottom: 5px;
		font-size: 20px;
	}

	&__input {
		width: 100%;
		height: 30px;
		border: 1px solid #e6e6e6;
		text-indent: 5px;
		transition: all 0.5s ease;
		background-color: white;
		color: black;

		&:hover, &:focus {
			outline: none;
		}

		&:focus:not(.form__input--error) {
			border: 1px solid #c5c4c4; 
			background-color: #e6e6e6;
		}

		&--error {
			background-color: red;
			color: white;
		}
	}

	&__button {
		margin-top: 10px;
		border: none;
		font-size: 15px;
		padding: 5px 10px;
		background-color: #dddddd;
		cursor: pointer;
		transition: background-color 0.5s ease;

		&:hover {
			background-color: #b8b8b8;
		}
	}
}

.list {
	width: 100%;

	&__item {
		border-bottom: 1px solid #eaeaea;
		padding: 10px 5px;
	}

	&__link {
		min-width: 500px;
    	display: inline-block;
	}

	&__content {
		height: 0px;
		overflow: hidden;

		&--active {
			height: auto;
			overflow: visible;
		}
	}
}