* {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background-color: #3F51B5;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  min-height: 60px;
  padding: 0px 10px;
}

.header__title {
  font-size: 22px;
  color: white;
}

.form {
  min-height: 50px;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form__title {
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 20px;
}

.form__input {
  width: 100%;
  height: 30px;
  border: 1px solid #e6e6e6;
  text-indent: 5px;
  transition: all 0.5s ease;
  background-color: white;
  color: black;
}

.form__input:hover, .form__input:focus {
  outline: none;
}

.form__input:focus:not(.form__input--error) {
  border: 1px solid #c5c4c4;
  background-color: #e6e6e6;
}

.form__input--error {
  background-color: red;
  color: white;
}

.form__button {
  margin-top: 10px;
  border: none;
  font-size: 15px;
  padding: 5px 10px;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.form__button:hover {
  background-color: #b8b8b8;
}

.list {
  width: 100%;
}

.list__item {
  border-bottom: 1px solid #eaeaea;
  padding: 10px 5px;
}

.list__link {
  min-width: 500px;
  display: inline-block;
}

.list__content {
  height: 0px;
  overflow: hidden;
}

.list__content--active {
  height: auto;
  overflow: visible;
}
